name: Build dev container image
on:
  push:
    branches:
      - main

jobs:
  build-devcontainer-image:
    name: Build devcontainer image
    runs-on: ubuntu-latest
    timeout-minutes: 30
    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        include:
          - image: "typescript-node"
            tag: "22"
          - image: "typescript-node"
            tag: "24"
          - image: "universal"
            tag: "2.0.6-focal"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pre-build dev container image
        uses: devcontainers/ci@v0.3
        with:
          subFolder: ${{ matrix.image }}
          imageName: ghcr.io/codesandbox/devcontainers/${{ matrix.image }}
          imageTag: ${{ matrix.tag }}
          cacheFrom: ghcr.io/codesandbox/devcontainers/${{ matrix.image }}
          push: always
        env:
          TAG: ${{ matrix.tag }}
